name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  oclif-lock-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install sf
        uses: nick-fields/retry@943e742917ac94714d2f408a0e8320f2d1fcafcd
        with:
          max_attempts: 3
          retry_wait_seconds: 60
          command: npm install -g @salesforce/cli@$latest --omit=dev
          timeout_minutes: 60
      - name: Run NUT (with retries)
        uses: nick-fields/retry@943e742917ac94714d2f408a0e8320f2d1fcafcd
        with:
          max_attempts: 3
          retry_wait_seconds: 1
          command: sf plugins install custom-metadata@2.2.1
          retry_on: error
          timeout_minutes: 60

  unit-tests:
    uses: oclif/github-workflows/.github/workflows/unitTest.yml@main
